#topstripe{
background-color: #9C2318;
height :1em;
}


ul.buttonbar{
float:right;
list-style-type:none;
text-align: center;
margin-top:1.5em;
margin-bottom:0;

}

#mast {
color:#606060;
margin-bottom:10px;
}

#mast a{
color:#606060;
text-decoration:none;
}

#mast a:hover{
color: #4F0A04;
}


h2{
color: #4F0A04;
}

a{
color:#063469;
text-decoration:none;
}


.buttonbar a{
color:#222222;
}



a:hover{
text-decoration: underline;
color: #4F0A04;
}




.box{
/* brighter blue */
background-color:#DFEAF7;
/* brigther red */
background-color:#D9D7D7;
/* pale red */
background-color:#F2F0F0;
}
